.signup {
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 396px;
}

.signup__title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 40px;
  margin-bottom: 40px;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.signup__input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.signup__input-container:last-of-type {
  margin-bottom: 134px;
}

.signup__label {
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.signup__input {
  border: none;
  padding: 0 0 10px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #E8E8E8;
}

.signup__input_error {
  color: #FF3055;
}

.signup__input:focus {
  outline: none;
  border-bottom: 1px solid #3456F3;
}

.signup__error {
  color: #FF3055;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}

.signup__submit-btn {
  padding: 13px 0 15px;
  border-radius: 3px;
  background: #3456F3;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.signup__submit-btn:hover {
  opacity: 0.8;
}

.signup__question {
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 16px;
}

.signup__redirect-link {
  text-decoration: none;
  color: #3456F3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.signup__redirect-link:hover {
  opacity: 0.7;
}
