.profile {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  padding-bottom: 70px;
}

.profile__title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 123px;
}

.profile__input-container {
  width: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__input-container:not(:last-of-type) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 17px;
}

.profile__input-container:last-of-type {
  margin-bottom: 220px;
}

.profile__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  border: none;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus {
  outline: none;
}

.profile__btn {
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFFFFF;
  border: none;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: 0.8;
}

.profile__btn_color_pink {
  color: #FF004D;
}
